BOT_SYMBOL=btcusdt
BOT_MARKET_SYMBOL=BTCUSDT
BINANCE_WS_BASE_URL=wss://fstream.binance.com/stream
BINANCE_REST_BASE_URL=https://fapi.binance.com
TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
LOG_LEVEL=INFO
